.optionBtn {
    width: 120px;
    background: rgb(17, 31, 27);
    box-shadow: 0 0 4px rgb(0, 0, 0);
    border: none;
    padding: 15px;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 15px rgb(255, 255, 255);

    }

    img {
        width: 100%;

    }
}